# берется со страницы https://my.telegram.org/auth?to=apps по гайду https://core.telegram.org/api/obtaining_api_id
API_ID=
# то же, что API_ID
API_HASH=
# true, если нужно игнорировать собственные сообщения
BLOCK_OUTGOING=

# Каналы
# Самый простой способ узнать id канала: открыть веб-версию телеграма, 
# выбрать любой канал, url в адресной строке должен измениться по типу https://web.telegram.org/a/#-4123150ХХХ
# В данном случае -4123150ХХХ - id канала

# Список каналов, из которых нужно копировать сообщения
SOURCE_CHANNELS=

# список с правилами как и куда нужно копировать сообщения

#максимальное количество правил
MAX_REGEX=10
#регулярка для правила 1
REGEX_1=[a-zA-Z]{3,}
#id канала, куда попадают сообщения, удовлетворяющие регулярке "1"
COPY_TO_CHANNEL_1=

#регулярка для правила 2
REGEX_2=[а-яА-Я]{3,}
#id канала, куда попадают сообщения, удовлетворяющие регулярке "2"
COPY_TO_CHANNEL_2=-4154735435
#...

# Уровень логирования. INFO, DEBUG и ERROR
LOGGING_LEVEL=ERROR